.home{
    border: 2px solid grey;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 95%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
    margin: 8px;
    
  }
  .home-container{
    width: 50%;
    border-radius: 4px;
    box-shadow: 0px 4px 10px 0px #b3b3b3;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  img{
    width: 135px;
    margin: 0 auto;
    border-bottom: 1px solid grey ;
    margin-bottom: 4px
  }
  h3{
    margin: 0 ;
  }
